
*{
  text-shadow: 1px 1px 1px #2222;
}
h1{
  font-weight:600;
  border-radius:18px;
  color:rgb(48, 48, 48);
  font-size: 2.4em;

  width:100%}
.logDataHeader{
  color:rgb(63, 63, 63);
  font-size: .7em;


}

.alert{
  background: rgba(255, 255, 255, 0.925);
  backdrop-filter: blur(1px);
  border-radius: 18px;
  padding:1.5em;
  margin:.2em;

  animation: jump 5s;
}
@keyframes jump {
  0%{
    box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.3);
  }
  50%{
    box-shadow: 13px 13px 24px 11px rgba(241, 241, 241, 0.3);
    opacity: 1;
    z-index: 300;
  }
  90%{
    z-index: -220;
    opacity: 0;
    box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.3);
  }
}

.blueText{
  color: rgb(35, 35, 70)
}
.redText{
  color:rgb(105, 74, 70)
}

.logData{
  color:rgb(92, 88, 88);
  text-align: justify;
  font-family: monospace;
  font-size: .4em;
  line-height: .8;
  background: rgb(231, 231, 231);
  padding: 8px;
  border-radius: 8px;
  margin:2em;
}
.attachedId{
  position: absolute;
  top:100%;
  color:#555;
  font-size: .4em;
  text-shadow: .6px .6px rgba(0,0,0,0.3);
}
