<div class="landingContainer" routerLink='/blog'>
  <!-- <iframe id="infDiffScroller" type="text/html" width="100%" height="30%"
src="https://www.youtube.com/embed/bhfwjMzjrZY?autoplay=1&fs=0&loop=1&playlist=bhfwjMzjrZY"
frameborder="0" allowfullscreen>
</iframe> -->
   <video src="../../../assets/download.mp4" loop autoplay id="infDiffScroller"></video>
  <div class="overlay" id="landingOverlay">
    <app-brand-logo  [expandedLineHeight]='true'></app-brand-logo>

   <br/> <span class="font-sans">
    BLOG
   </span>

    </div>
</div>
