.longAnimationBg{
  // background-image: url('./../../../assets/long.jpg');
  background-size: 200%;
  animation: shake 40s infinite;
  animation-timing-function:ease-in-out;
  min-height: 90vh;



}
@keyframes shake{
  0%{
    background-image: url('./../../../assets/renderBgs/2240020.png');
    background-position: top left;
//     filter:  hue-rotate(
// 0deg
//  ) ;
  }
  25%{
    background-image: url('./../../../assets/renderBgs/2240021.png');
    background-position: top right;
  }
  34%{
    background-position: center center;
    background-image: url('./../../../assets/renderBgs/2240244.png');
  }
  50%{
    background-image: url('./../../../assets/renderBgs/2240076.png');
    background-position: bottom right;
    background-size: 400%;
    // filter: hue-rotate(
    //   359deg
    //    );
  }
  75%{
    background-image: url('./../../../assets/renderBgs/2240244.png');
    background-position: bottom left;
  }
  87%{
    background-position: center center;
    background-image: url('./../../../assets/renderBgs/2240021.png');
  }
  100%{
    background-image: url('./../../../assets/renderBgs/2240020.png');
    background-position: top left;
//     filter: hue-rotate(
// 0deg
//  );
  }
}

.contactForm{
  max-width: 450px;
}

.contactFormWrapper{
  padding:  10vh 0 0 0 ;
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 80%;
}

.popIn{
  animation: popIn 2s forwards;
  border-radius:5px;
  margin: 22px;
  filter: contrast(100);
}
@keyframes popIn {
  0%{
    box-shadow: inset 4px 4px 3px 2px;
    transform: scale(1.2) translate(center, center) ;
  }
  100%{
    transform: scale(1);
  }
}
.full-width{
  width:100%;
}
