.inquiryItem{
  background:#fff;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;


}


.inquiryCard{
  margin: 2em;
}

.mainSpacer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .1em;
}
