
.attachPhoto{
  margin: 2em 0;
  max-height: 70%;
  max-width: 70%;
  border-radius: 50%;
  animation: morph 22s infinite;
  background: repeating-radial-gradient(#11113552, #0c0c0c 50px);
  background-size: 400%;
  box-shadow: 15px 2px 14px 3px #3c403c61, 15px 20px 9px 7px #69525266, -2px 16px 5px 3px #6db6ff4d;
  border: 40px double rgba(250, 235, 215, 0.377) ;
  align-self: center;
}
.emptyBlock{
  width: 400px;
  height: 400px;
  display: grid;
  place-content: center;
}
.aboutHeaderBlock{
display: flex;
   flex-direction: row;
   flex-wrap:wrap;
    place-content: center;
    justify-content: space-evenly;
}
.aside{
  min-width: 14em;
    max-width: 40em;
    margin-top: .5em;
    text-shadow: -2px 2px 2px #ffffff;
    padding: .5em;
    font-size: 1.2em;
    line-height: 1.5;
    align-self: center;
    justify-self: center;
}

@keyframes morph {
  0%{

background-size: 500%;
    transform: rotate(-3deg)
    ;
  }
  20%{
background-position: 70% 20%;
    background-size: 300%;
    transform: rotateY(1deg);
  }
  40%{

    background-size: 120%;
    transform: scale(.9);
  }
  60%{
    transform: rotate(3deg);
    transform: rotateZ(1deg);
   background-position: 30% 80%;
  }
  80%{
    transform: scale(1.1) rotateX(4deg);
    background-size: 240%;

  }
  100%{

    transform: rotate(-3deg);
    background-size: 500%;
  }
}

.extraPad{
  padding: 25px;
  text-align: center;
  background-color: #d3c1c111;
}
.experience{
  // display: contents;
  // margin: .4em;
}
.card{
  background: radial-gradient(#a5d2e791, #f3f0c95c);
  color: rgb(113 113 113 / 87%);
}
.position{
  color: #333;
  font-variant: all-petite-caps;
  font-weight: 800;
}
.semiHeader{
  text-align: center;
    font-size: 2em;
    font-variant: all-small-caps;
}
.panels{

}
.noFlexGrow{
  flex-grow:0;
}
.headerPad{
  padding: 7px 8px;
}
.padTop{
  margin-top: 8px;
}

.fullSection{
  display: flex;
   flex-direction: row;
   flex-wrap:wrap;
    place-content: center;
    justify-content: space-evenly;
    min-height: 80vh;
    width: 100%;
}

.personal{

  backdrop-filter: blur(2px);
 background-repeat: no-repeat;
  background-size:200%;
  background-position: center center;
  background-color: #FFFFFF21;
  animation: upAndDown 22s infinite;
  padding:  2em 0;
  perspective: 36pc 3em;
}
@keyframes upAndDown{
  0%{
    background-position: top left;
    background-image: url("./../../../assets/photos/photo2.jpg");
  }

  25%{
    background-position: bottom right;
    background-image: url("./../../../assets/photos/photo1.jpg");

  }

  50%{
    background-position: bottom left;
    background-image: url("./../../../assets/photos/photo3.jpg");
  }

  75%{
    background-position: top right;
    background-image: url("./../../../assets/photos/photo1.jpg");

  }

  100%{
    background-position: top left;
    background-image: url("./../../../assets/photos/photo2.jpg");
  }
}

.orgLogo{
  max-width: 60px;
  max-height: 30px;
  margin: 10px 13px;
}
.firstLetter{
  font-size: 35px;
    padding: 0 4px;
    line-height: 12px;
}
mat-divider{
  padding-top: 1em;
}
