<div class="componentLoadInAnimation">
  <div class="animatedContainer">
    <div class="animatedContainerContent">

    <div class="aboutHeaderBlock">
      <img src="./../../../assets/me-sm.png" class="attachPhoto">
     <div class="aside">
       <h1>Hey!</h1>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi similique dolorum error dolore perferendis itaque. Quisquam velit accusantium nemo debitis tempore perspiciatis nam officia! Dolores, iure? Debitis recusandae aperiam labore.</p>
     </div>
    </div>
    </div>
    </div>
</div>

