<header>
<mat-toolbar  class="example-toolbar">
  <button mat-button *ngIf="size.width<=800" (click)="sideNavToggle.emit()" class="hamburger"><mat-icon>menu</mat-icon></button>
  <app-brand-logo routerLink="/"></app-brand-logo>


  <div class="links" *ngIf="size.width>800">
    <div class="wrapBtn" *ngFor="let nav of navList; index as index" >
      <button mat-button class="navLinks font-sans"  [routerLink]='"/"+nav["link"]'>{{nav["link"] | uppercase}}</button>


    </div>

  </div>

  <button class="noPad" mat-button *ngIf="size.width>700" [matMenuTriggerFor]="menu">
    <mat-icon class="spinners" >sensors</mat-icon>
  </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item >Party Mode</button>
</mat-menu>


</mat-toolbar>
</header>
