<header>
<mat-toolbar  class="example-toolbar">
  <button mat-button *ngIf="size.width<=600" (click)="sideNavToggle.emit()" class="hamburger"><mat-icon>menu</mat-icon></button>
  <app-brand-logo routerLink="/"></app-brand-logo>

  <div class="links" *ngIf="size.width>600">
    <span class="wrapBtn" *ngFor="let nav of navList" >
      <button mat-button class="navLinks" [routerLink]='"/"+nav["link"]'>{{nav["link"]}}</button>
      <mat-divider
        [vertical]="true"
      >
      </mat-divider>
      <mat-divider
        [inset]="true">
      </mat-divider>
    </span>

  </div>

</mat-toolbar>
</header>
