

<div *ngIf="hasNotReachedExpiryDate()" class="expiryCheck">

<mat-card class="blogPostContainer">
  <mat-card-header>
    <mat-card-title>

      <h1 class="composer">
       <a [href]="host" style="font-size: .8em;
       text-decoration: none;">
       {{blogPost.title}}
       <!-- <app-page-header [title]="blogPost.title"
        [subtitle]=" host">
      </app-page-header> -->
      </a>
      </h1>

  </mat-card-title>
    <mat-card-subtitle>
      <p class="metaInfo">
        <span class="postedBy" *ngIf="!!blogPost.author">
          posted by {{blogPost.author}}
        </span>
      <span class="timeStamp">
        on {{blogPost.timestamp.seconds*1000 | date:'medium' }}
      </span>
      </p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="blogPostContent">


    <!-- <div class="permaLink">

    </div> -->

    <div class="featuredImages" *ngFor="let image of blogPost.imageLinks">
      <img class="featuredImage" [src]="image" alt="Featured Image">
    </div>


    <div class="codepens" *ngIf="blogPost.codepenSlugs.length>0">
      <app-codepen *ngFor="let codepen of blogPost.codepenSlugs" [slug]="codepen" ></app-codepen>
    </div>

    <div class="youtubes" *ngIf="blogPost.youtubeLinks?.length>0">
      <app-youtube *ngFor="let youtubeLink of blogPost.youtubeLinks" [videoId]="youtubeLink" ></app-youtube>
    </div>

    <div class="body" id="blogPost" [innerHtml]="postBodySanitized()" >

    </div>

    <mat-divider>
    </mat-divider>

    <app-blog-comment-list *ngIf="blogPost.comments.length>0"
      [comments]="blogPost.comments"
      [showComments]="showComments"
      [blogPostRef]="blogPost.slug">
    </app-blog-comment-list>

    <div class="tags" *ngIf="blogPost.tags.length>0">
      <h3>Tags</h3>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of blogPost.tags"  ><a [href]="generateTagUrl(tag)">{{tag}}</a></mat-chip>
      </mat-chip-list>
    </div>

    <mat-divider *ngIf="blogPost.tags.length>0 && blogPost.links.length>0">
    </mat-divider>

    <div class="links" *ngIf="blogPost.links.length>0">
      <h3>Links</h3>
      <mat-chip-list>
       <mat-chip *ngFor="let link of blogPost.links" ><a [href]="link">{{link}}</a></mat-chip>
      </mat-chip-list>
    </div>

    <app-blog-comment-composer style="margin: 2em;" [blogPost]="blogPost" *ngIf="displayCommentComposer">

    </app-blog-comment-composer>


  <div class="expired" *ngIf="!hasNotReachedExpiryDate()">
    <h1>
      This post has expired.
    </h1>
    <p>
      It expired on {{(blogPost.expiryDate.seconds)*1000 | date:'medium' }}
    </p>
  </div>
  </mat-card-content>
</mat-card>





