<app-page-header
title="Blog"
subtitle="Is it worth the read? I'll leave that for you to decide!"
>
</app-page-header>
<div class="loading placeCenter huge" *ngIf="loading">
  <h1 >Loading...</h1>
<mat-progress-bar
  mode="indeterminate">
</mat-progress-bar>
</div>

<div class="noResults placeCenter huge" *ngIf="posts.length<1">
  <h1>No blog posts</h1>
  <p>Check back soon!</p>
</div>

<div class="postContainer">

<mat-card *ngFor="let post of posts">
  <app-blog-post [blogPost="post"]></app-blog-post>
</mat-card>

</div>
