.contactInfo, .contactInfo .mat-icon{
  font-size: 14px;
  padding: 0px;
  margin:0;
  font-weight: 100;
  color: #b1b1b1;
}

.contactInfo li mat-icon{
  height:auto;
  width: auto;
  border-radius: 50%;
  background: #fafafa;
  color:rgb(51, 49, 47);
  padding:2px;
}

.contactInfo li{
  list-style: none;
  line-height: .8;

}

.contactUl{
  padding:0;
}

footer, footer mat-toolbar{
  margin-top: 8px;
  background: white;
  min-height: 140px;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}

.contactLinks{
  text-decoration: none;
  color: #b1b1b1;
    font-variant: all-small-caps;

}

.underContstruction{
  color:rgb(0, 0, 0);
  padding: 8px;
  margin:12px;
  border-radius: 40px;
  font-size: 2em;
  border: 3px solid #333;

  transform: scale(.9);
}

.smIcon{
  width: 12px;
  height: auto;
  padding: 2px;
}
