<footer >
<mat-toolbar [style.flexWrap]=" size.width<=500? 'wrap':'nowrap'" >

  <!-- <div class="underContstruction" *ngIf="size.width>1040">
    <mat-icon class="spinners" >settings</mat-icon>
    <small>UNDER CONSTRUCTION</small>
    <mat-icon class="spinners" >settings</mat-icon>
  </div> -->
  <div><app-brand-logo ></app-brand-logo>


</div>

    <div class="column contactInfo ">
      <ul class="contactUl">
        <li><mat-icon>person</mat-icon> Henry Fritz</li>
        <li><mat-icon>email</mat-icon> <a class="contactLinks" href="mailto:henryamsterfritz@gmail.com"> henryamsterfritz@gmail.com</a></li>
        <li><mat-icon>phone</mat-icon>  <a  class="contactLinks"  href="tel:8592008540" > 859.200.8540 </a></li>
      </ul>
    </div>
    <div class="column contactInfo">
      <ul class="contactUl">



        <li>
          <a href="https://github.com/henryamster" class="contactLinks"><img src="./../../../assets/a3.png" alt="" class="smIcon" >github</a>
        </li>
        <li>
          <a href="https://instagram.com/henryamster" class="contactLinks"> <img src="./../../../assets/a2.png" alt="" class="smIcon">instagram</a>
        </li>
        <li>
          <a href="https://linkedin.com/henryfritz" class="contactLinks"> <img src="./../../../assets/a4.png" alt="" class="smIcon">linkedin</a>
        </li>
      </ul>

    </div>
        <!-- <a href="mailto:henryamsterfritz@gmail.com"> -->

      <!-- <a href="tel:8592008540" > -->

</mat-toolbar>
</footer>
