
<mat-card style="margin: 20px 0">


<div class="blogComment" *ngIf="comment.approved">
  <div class="commentHeader">
    <span class="avatar" *ngIf="!!comment.profileImage">
      <img class="circle" width="26px" height="26px" style="padding:4px;" [src]="comment.profileImage" [alt]="comment.displayName + '\'s avatar'">
    </span><h4>
      <strong class="font-sans">{{comment.displayName}}</strong>
      <em><span *ngIf="comment.email" class="font-sans"><{{comment.email}}></span></em>
    </h4>
    <p class="commentMetadata">
      posted on {{comment.timestamp | date:'medium'}}
    </p>
  </div>


  <mat-divider>
  </mat-divider>
  <p class="body" [innerHtml]="commentBodySanitized()"></p>

</div>
<div class="blogPendingComment" *ngIf="!comment.approved">
  <p>
    There is a comment pending administrator approval.
  </p>
</div>

</mat-card>

