
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hfnyz-primary: mat-palette($mat-blue, 50,  A100);
$hfnyz-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hfnyz-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hfnyz-theme: mat-light-theme((
  color: (
    primary: $hfnyz-primary,
    accent: $hfnyz-accent,
    warn: $hfnyz-warn,
  ),

));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hfnyz-theme);

/* You can add global styles to this file, and also import other style files */



@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Italianno&family=Red+Hat+Display&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: "Red Hat Display", "Helvetica Neue", sans-serif; }

/**
Typography
*/
.font-serif{font-family: 'Cinzel', serif !important;}
.font-cursive {font-family: 'Italianno', cursive !important;}
.font-sans {font-family: 'Red Hat Display', sans-serif !important;}

/**
Custom
*/
.snackbarBG{
  background: radial-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.9));
  animation: dissapear 4s forwards;
  border-radius: 23px !important;
  backdrop-filter: blur(3px);
}

/**
Utility globals
*/

.noOverflow{
  overflow: hidden;
}

.disappear{
  animation: dissapear 2s forwards ease-in;
}

.componentLoadInAnimation{
  animation: loadIn 1.4s forwards;
}

.glassBlur{
  animation: glassB 5s infinite;
}

/**
Animations
*/

@keyframes dissapear{
  80%{
    opacity: 1;
    transform: translateX(0);
  }

  100%{
    opacity: 0;
    transform: translateY(800px);
  }
}

@keyframes loadIn{
  0%{
 color:black;
 background:#fafafa;
 transform:  scale(1.9);
 border-radius: 50%;
  }
  10%{
    border-radius: 0;
color:#fafafa;
background: #333;
  }
  100%{
    color:black;
    background:#fafafa;
  }
}

@keyframes glassB{
  0%{
    background: rgba(132, 220, 255, 0.5);
    backdrop-filter: blur(1px);
  }
  25%{
    background: rgba(255, 52, 52, 0.671);
    backdrop-filter: blur(4px);
  }
  75%{
    background: rgba(255, 206, 46, 0.637);
    backdrop-filter: blur(2.5px);

  }
  100%{
    background: rgba(132, 220, 255, 0.5);
    backdrop-filter: blur(1px);
  }
}

