<mat-card>

  <mat-card-header >
    <mat-card-title><button mat-button (click)="displayCommentForm=!displayCommentForm">Leave A Comment <mat-icon>expand_more</mat-icon></button></mat-card-title>
  </mat-card-header>
  <mat-card-content [hidden]="displayCommentForm">
    <form action="" class="commentForm" [formGroup]="commentForm" >
      <quill-editor class="full-width" style="display: inherit;"
        #body
          formControlName="comment"
          placeholder="Post your comment here..."
        ></quill-editor>
    </form>

  </mat-card-content>
  <mat-card-actions [hidden]="displayCommentForm">
    <button mat-button (click)="submitComment()">Submit</button>
  </mat-card-actions>
</mat-card>
